body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #111;
}

.nav-btn {
  background: #222;
  color: #aaa;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.main-btn {
  background: #ff0055;
  color: #fff;
  font-size: 18px;
  padding: 15px;
}
