body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

.content {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  background: #222;
  color: #aaa;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.main {
  background: #ff0044;
  color: #fff;
  font-size: 18px;
  padding: 15px;
}
