if (window.Telegram && Telegram.WebApp) {
    Telegram.WebApp.ready();
    Telegram.WebApp.expand();
    console.log("Telegram WebApp Ready");
} else {
    console.log("Opened outside Telegram");
  }
