body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

.view {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: opacity .3s ease, transform .3s ease;
}

.fade-out {
  opacity: 0;
  transform: scale(.98);
}

.navbar {
  height: 80px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  background: #222;
  color: #ccc;
  border: none;
  padding: 10px 14px;
  border-radius: 14px;
  transition: .2s;
}

button:active {
  box-shadow: 0 0 12px #ffcc00;
  transform: scale(.95);
}

.play {
  background: #ff0044;
  color: #fff;
  font-size: 18px;
  padding: 16px 22px;
}
