body {
  background:#0d0d0d;
  color:white;
  font-family:Arial;
  margin:0;
}

.nav {
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#111;
  padding:10px;
}

button {
  background:#222;
  color:white;
  border:none;
  padding:10px;
  border-radius:10px;
}

.lands {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  padding:20px;
}

.land {
  padding:20px;
  text-align:center;
  border-radius:10px;
}

.open { background:green; }
.locked { background:#333; }
